node_modules/
dump
dist/
.env
tmp
ngrok.log
ngrok.yml
package-lock.json
**/.vscode
.envrc
.env
.greenframe

.pnp.*
.yarn/*
**/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
